###################
# Compiled source #
###################
bin/AndroidManifest.xml
bin/classes
bin/classes.dex
bin/dexedLibs
bin/res
bin/resources.ap_
gen
assets/bugsense.txt
assets/Thumbs.db

##############
# Swap files #
##############
*.swp
